@import 'partials/reset';

$primary-font: 'Quicksand', sans-serif;

h1 {
  font-family: $primary-font;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0,136,255,1);
  background: -moz-linear-gradient(-45deg, rgba(0,136,255,1) 0%, rgba(41,184,229,1) 50%, rgba(6,191,182,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,136,255,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(6,191,182,1)));
  background: -webkit-linear-gradient(-45deg, rgba(0,136,255,1) 0%, rgba(41,184,229,1) 50%, rgba(6,191,182,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(0,136,255,1) 0%, rgba(41,184,229,1) 50%, rgba(6,191,182,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(0,136,255,1) 0%, rgba(41,184,229,1) 50%, rgba(6,191,182,1) 100%);
  background: linear-gradient(135deg, rgba(0,136,255,1) 0%, rgba(41,184,229,1) 50%, rgba(6,191,182,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088ff', endColorstr='#06bfb6', GradientType=1 );
}

.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;

  padding: 30px;
  margin: 50px;

  font-family: $primary-font;
  color: white;

  background-color: rgba(0, 0, 0, 0.05);

  border-radius: 4px;

  h1 {
    font-size: 50pt;
    font-weight: 50;
    text-align: center;
  }

  h3 {
    margin-top: 12px;
    font-size: 20pt;
    text-align: center;
  }
}
